<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyy.qgcloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.personalMsg.PersonalMsgActivity"></activity>
        <activity android:name=".ui.changePassword.ChangePasswordActivity" />
        <activity android:name=".ui.addressList.AddressListActivity" />
        <activity android:name=".ui.forgetPassword.ForgetPasswordActivity" />
        <activity android:name=".app.DemoActivity" />
        <activity android:name=".ui.homePage.HomePageActivity" />
        <activity android:name=".ui.download.DownLoadTest" />

        <service
            android:name=".ui.download.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.register.RegisterActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>